* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: "Open Sans", sans-serif;
}
.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.image-shadow {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}
.hero-bg {
	display: flex;
	max-width: 100%;
	height: 330px;
	background-image: url(tiger-small.jpg);
	background-size: cover;
	background-position: center;
}
.nav {
	display: flex;
	position: absolute;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}
.site-logo {
	width: 30%;
	padding: 0.5rem 2rem;
}
.site-logo img {
	width: 9rem;
}
.menu-bar {
	display: flex;
	width: 70%;
	justify-content: flex-end;
	align-items: center;
	margin-right: 3.5rem;
}
.burger-icon i {
	color: white;
	font-size: 2.5rem;
	padding: 1rem 2rem;
}
.hero-bg-text {
	display: flex;
	margin: 0 auto;
	align-items: center;
	color: whitesmoke;
}
.hero-bg-text span {
	text-transform: uppercase;
	color: tomato;
}
.menu-items {
	display: none;
}
/* Style hover na elementy menu */
.menu-items a:hover {
	color: tomato;
}
.menu-items a:nth-child(4):hover {
	color: whitesmoke;
}

/*SEKCJA MAIN*/
.about-us {
	display: flex;
	flex-direction: column;
	margin-top: 3rem;
}
.about-us h2 {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 1rem;
	font-size: 1.8rem;
}
.about-us-info {
	font-size: 1.5rem;
	margin: 1.5rem;
}

.zoo-animals {
	display: flex;
	flex-direction: column;
}
.animal-boxes {
	max-width: 100%;
	padding: 0 1rem;
}
.zoo-animals h2 {
	text-align: center;
	font-size: 1.8rem;
	text-transform: uppercase;
	margin: 2rem 0 1rem 0;
}
.first-animal-group,
.second-animal-group,
.third-animal-group,
.fourth-animal-group {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	background-image: url(parrot.jpg);
	height: 350px;
	margin-bottom: 2rem;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
	transition: 1.5s;
}
.second-animal-group {
	background-image: url(gorilla.jpg);
}
.third-animal-group {
	background-image: url(howk.jpg);
}
.fourth-animal-group {
	background-image: url(gepard.jpg);
	background-position: top;
}

.image-shadow:hover {
	background-color: transparent;
}
.animal-group-text {
	text-align: center;
	font-size: 1.5rem;
}
/* Koniec stylowania dla szerokości <768px*/

@media (min-width: 768px) {
	.hero-bg {
		justify-content: center;
		background-image: url(tiger-big.jpg)
		height: 80vh;
		background-position: center;
	}
	.nav {
		max-width: 1200px;
		background-color: transparent;
		margin-top: 2rem;
	}

	.burger-icon {
		display: none;
	}
	.menu-items {
		display: flex;
	}
	.menu-items a {
		margin-right: 2.5rem;
	}
	.menu-items a {
		text-decoration: none;
		font-size: 1.7rem;
		font-weight: 900;
		color: whitesmoke;
	}
	.menu-items a:nth-child(4) {
		color: tomato;
	}
	.site-logo img {
		width: 12rem;
	}
	.hero-bg-text {
		font-size: 1.5rem;
	}
}
@media (min-width: 992px) {
	.animal-boxes {
		margin-bottom: 50px;
	}
	.first-row,
	.second-row {
		display: flex;
		gap: 1rem;
	}
	.first-animal-group,
	.second-animal-group,
	.third-animal-group,
	.fourth-animal-group {
		width: 50%;
		margin-bottom: 1rem;
	}
}
@media (min-width: 1200px) {
	.animal-boxes {
		display: flex;
	}
	.second-animal-group {
		margin-right: 1rem;
	}
	.zoo-animals p {
		padding: 0 1.5rem;
	}
}
