* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: "Open Sans", sans-serif;
}
.wrapper {
	display: flex;
	justify-content: flex-end;
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
.hero-bg {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
.hero-text {
	color: whitesmoke;
}
.hero-text p {
	color: white;
}
.hero-text h1 {
	margin-bottom: 5px;
}
.hero-text span {
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color: tomato;
}
nav {
	display: flex;
	width: 100%;
	text-align: center;
	background-color: whitesmoke;
}
.nav-bar {
	display: none;
	width: 50%;
	background-color: whitesmoke;
}
.nav-bar a {
	font-size: 2rem;
	text-decoration: none;
	color: rgb(53, 51, 53);
}
.burger-icon {
	padding: 15px 30px;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 2.5rem;
}
i,
a {
	transition: 0.3s;
}
i:hover {
	color: rgba(180, 68, 68, 0.493);
}
a:hover {
	color: rgba(180, 68, 68, 0.493);
}
.header {
	display: flex;
	background-image: url(../grafiki/tiger-small.jpg);
	height: 330px;
	background-size: cover;
	background-position: center;
}

@media (min-width: 768px) {
	.wrapper {
		justify-content: center;
	}
	.burger-icon {
		display: none;
	}
	.nav-bar {
		display: flex;
		width: 70%;
		justify-content: space-evenly;
		padding: 15px 30px;
	}
	.header {
		background-image: url(../grafiki/tiger-big.jpg);
		height: 400px;
	}
	.hero-text h1 {
		font-size: 2.5rem;
	}
	.hero-text p {
		font-size: 1.5rem;
	}
}
@media (min-width: 1200px) {
	.header {
		height: 500px;
	}
	.hero-text h1 {
		font-size: 3rem;
	}
	.hero-text p {
		font-size: 2rem;
	}
}
